<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Top Bar</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="topbar">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- JWT 헤더를 가져와서 변수에 저장합니다. -->
  <div th:with="jwtHeader=${#httpServletRequest.getHeader('Authorization')}"></div>

  <!-- JWT 헤더가 있는 경우에만 id 값을 추출합니다. -->
  <div th:if="${jwtHeader != null and #strings.containsIgnoreCase(jwtHeader, 'Bearer ')}">
    <!-- JWT 토큰을 추출합니다. -->
    <div th:with="jwtToken=${#strings.substringAfter(jwtHeader, 'Bearer ')}"></div>

    <!-- JWT 토큰을 디코딩하여 id 값을 가져옵니다. -->
    <div th:with="jwtDecoder=${T(io.jsonwebtoken.Jwts).parser().parse(jwtToken)}"></div>
    <div th:text="${jwtDecoder.getBody().get('id')}"></div>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/login">Log In</a>
      </li>
    </ul>
  </div>
</nav>
</body>
</html>
